body{
    margin: auto;
    font-family: Arial, sans-serif;
}
#container{
    border: 1px solid black;
    width: 1250px;
    margin: auto;
    background-color: blue;
}
.parent{
    border: 1px solid black;
    width: 900px;
    margin: 10px;
    margin-left: 170px;
    
}
.head{
    color: white;
    text-align: center;
}
nav a{
   margin: 0 20px;
   text-decoration: none;
   color: blue;
    font-weight: bold;
}
nav a:hover{
    color: rgb(101, 53, 152);
}
.home{
    border: 1px aqua;
    background-color: aqua;
    padding: 0 5px;

}
.login{
    background-color:aqua ;
    margin-bottom: 10px;
    color: white;
    padding: 10px 20px;
    border-radius: 30px;
    text-decoration: none;
}
.login:hover{
    background-color: rgb(93, 158, 158);
}
header{
    
    width: 900px;
    display: flex;
    justify-content: space-between;
    align-items: center;
   background-color: white;
    
}
#image{
    margin: auto;
    margin-right: 20px;
}
#bodybox{
    width: 870px;
    border: none;
    background-color: white;
    padding-left: 30px;
    padding-bottom: 10px;
    display: flex;
}
.heading{
    color: aqua;
    font-weight: bold;
}
.para{
    color: rgb(124, 121, 121);
}
#buttons{
    height: 35px;
    width: 132px;
    border-radius: 10px;
    color: white;
    background-color: aqua;
    border: none;
}
#buttons1{
    height: 35px;
    width: 132px;
    border-radius: 10px;
    color: white;
    background-color: aqua;
    border: none;
}
#buttons:hover{
    background-color: rgb(93, 158, 158);
}
#buttons1:hover{
    background-color: rgb(93, 158, 158);
}
.lastbox{
    background-color: aqua;
    height: 200px;
    width: 860px;
    padding: 20px;
    color: white;
}
.area{
    height: 40px;
    width: 200px;
    border: none;
    border-radius: 30px;
    margin-top: 10px;
    margin-left: 40px;
    
}
.area1{
    height: 40px;
    width: 200px;
    border: none;
    border-radius: 30px;
    margin-top: 10px;
    margin-left: 13px;
}
.area2{
    height: 40px;
    width: 200px;
    border: none;
    border-radius: 30px;
    margin-top: 50px;
    margin-left: 52px;
}

